@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&display=swap');

header {
    border-bottom: 1px solid rgb(26, 177, 84);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: max(2vw,0.6rem);
    color: #080808;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    
    
  }

h1, header p {
    font-family: "IBM Plex Serif", sans-serif;
}

header p {
    text-decoration: overline green;
}

  button  {
    background: none;
    border: none;
    cursor: pointer;
    
    
  }
   h1:before {
    position: relative;
    bottom: 3px;
    left: 50%;
    width: 3rem;
    height: 5px;
    display: block;
    content: "";
    background-color: #00b8af;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }

  
  